<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <div>
        <label for="system.size">Size: </label>
        <input name="system.size" id="system.size" type="text" value="{{item.system.size}}" data-dtype="Number"/>
        <hr/>
        <h2>Equippable</h2>
        <ul>
            <li>
                <label for="system.equippable.hand1">Hand 1: </label>
                <input name="system.equippable.hand1" id="system.equippable.hand1" type="checkbox" {{checked item.system.equippable.hand1}} />
            </li>

            <li>
                <label for="system.equippable.hand2">Hand 2: </label>
                <input name="system.equippable.hand2" id="system.equippable.hand2" type="checkbox" {{checked item.system.equippable.hand2}} />
            </li>

            <li>
                <label for="system.equippable.helmet">Helmet: </label>
                <input name="system.equippable.helmet" id="system.equippable.helmet" type="checkbox" {{checked item.system.equippable.helmet}} />
            </li>

            <li>
                <label for="system.equippable.body">Body: </label>
                <input name="system.equippable.body" id="system.equippable.body" type="checkbox" {{checked item.system.equippable.body}} />
            </li>

            <li>
                <label for="system.equippable.arms">Arms: </label>
                <input name="system.equippable.arms" id="system.equippable.arms" type="checkbox" {{checked item.system.equippable.arms}} />
            </li>

            <li>
                <label for="system.equippable.gloves">Gloves: </label>
                <input name="system.equippable.gloves" id="system.equippable.gloves" type="checkbox" {{checked item.system.equippable.gloves}} />
            </li>

            <li>
                <label for="system.equippable.legs">Legs: </label>
                <input name="system.equippable.legs" id="system.equippable.legs" type="checkbox" {{checked item.system.equippable.legs}} />
            </li>

            <li>
                <label for="system.equippable.boots">Boots: </label>
                <input name="system.equippable.boots" id="system.equippable.boots" type="checkbox" {{checked item.system.equippable.boots}} />
            </li>

            <li>
                <label for="system.equippable.belt1">Belt 1: </label>
                <input name="system.equippable.belt1" id="system.equippable.belt1" type="checkbox" {{checked item.system.equippable.belt1}} />
            </li>

            <li>
                <label for="system.equippable.belt2">Belt 2: </label>
                <input name="system.equippable.belt2" id="system.equippable.belt2" type="checkbox" {{checked item.system.equippable.belt2}} />
            </li>
        </ul>
    </div>
    <textarea name="system.description">{{item.system.description}}</textarea>
</form>

